
 <mat-card>
    <mat-card-title>
          Gestion du profil de {{ currentUser.firstname}} :
          <img [src]="currentUser.avatar">    
    </mat-card-title>
    <form *ngIf="formulaire" [formGroup]="formulaire"
      >
      <mat-form-field>
        <input matInput type="text" formControlName="firstname" placeholder="Prénom">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" formControlName="lastname" placeholder="Nom de famille">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" formControlName="email" placeholder="Email">
      </mat-form-field>
      <button mat-raised-button color="green" (click)="updateUser()">Changer</button>
    </form>
</mat-card>  

