<!--The content below is only a placeholder and can be replaced.-->
<div id="menu">
  <button routerLink="/" mat-raised-button color="primary">Accueil</button>

  <button mat-button [matMenuTriggerFor]="menu">Users</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/login">Connexion</button>
    <div *ngIf="currentUser">
      <button mat-menu-item routerLink="/users/{{currentUser.id}}/edit">Gerer sa fiche</button>
    </div>
    <button mat-menu-item routerLink="/users">Utilisateurs</button>
    <button mat-menu-item routerLink="/inscription">Inscription</button>
  </mat-menu>

  <div *ngIf="currentUser">
    <app-conv-list></app-conv-list>
  </div>
</div>

<div class="noco" *ngIf="!currentUser">
  <h3>Bienvenue dans le forum des Jgeeks :</h3>
  <p>Veuillez d'abord vous connecter / inscrire  pour accéder aux conversations et pouvoir poster des messages  </p>
</div>


  <div class="routerclass">
    <router-outlet></router-outlet>
    
  </div>